<p>User Details</p>
<hr>
<mat-form-field>
    <input  matInput (keyup)="applyFilter($event)" placeholder="Search">
</mat-form-field>

<hr>
<div *ngIf="isDataAssign">
<mat-table [dataSource]="usersArray">
    <!-- Users Id  -->
    <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef> <strong>User ID</strong> </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data.userId}} </mat-cell>
    </ng-container>
    <!-- Users name  -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef><strong>Users Name</strong> </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data.name}} </mat-cell>
    </ng-container>

    <!-- Age  -->
    <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef><strong> Age </strong></mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data.age}} </mat-cell>
    </ng-container>

    <!-- Scores -->
    <ng-container matColumnDef="scores">
        <mat-header-cell *matHeaderCellDef><strong>Scores</strong> </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data.scores}} </mat-cell>
    </ng-container>
    <!-- Add to winners Action button -->
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef><strong>Action</strong> </mat-header-cell>
        <mat-cell *matCellDef="let data">
            <button (click)="AddtoWinner(data)" [disabled]="data.isAdded" class="btn btn-success">{{data.isAdded == false ? 'Add to Winner' : 'user added'}}</button>
        </mat-cell>
    </ng-container>

    <!-- Header and Row  -->
    <mat-header-row *matHeaderRowDef="['userId','name', 'age', 'scores','action']"></mat-header-row>
    <mat-row *matRowDef="let data; columns: ['userId','name', 'age', 'scores','action']"></mat-row>
</mat-table>
<div *ngIf="usersArray.length==0" class="text-center"><p>No Data Available  !</p></div>
</div>